.Login_wrapper {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:after,
  &:before {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
      url(../../assets/img/bg/f8_bg_auth_1920.b517075e98f3051de678.png);
    background-size: cover;
    bottom: -5px;
    content: "";
    // -webkit-filter: blur(5px);
    // filter: blur(5px);
    left: -5px;
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: -1;
  }
  .Login_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    z-index: 2;
  }

  .Login_content {
    --width: 640px;
    background: #fff;
    border-radius: 8px;
    max-width: calc(100vw - 32px);
    min-height: 600px;
    padding: 48px 16px;
    margin-top: 50px;
    position: relative;
    width: var(--width);
  }

  .Login_header {
    overflow: hidden;
  }

  .Login_logo {
    height: 44px;
    object-fit: cover;
    width: 44px;
  }

  .Login_title {
    color: #292929;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 1.4;
  }

  .Login_body {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 8px;
  }

  .Login_mainStep {
    margin-top: 24px;
  }
  .SigninButton_wrapper {
    margin-top: 14px;
    --height: 44px;
    background-color: #fff;
    border: 2px solid #dce0e3;
    border-radius: 44px;
    display: inline-block;
    height: var(--height);
    line-height: var(--height);
    padding-left: 16px;
    position: relative;
    text-align: center;
    width: 320px;
    input {
      width: 100%;
      height: 100%;
      padding: 0 0 0 32px;
      /* color: black; */
      border: none;
      background: transparent;

      outline: none;
    }
    // &:hover {
    //   background-color: #dce0e3;
    //   cursor: pointer;
    // }
  }

  .SigninButton_title {
    color: #35414c;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 40px;
    outline: 0;
    text-align: center;
  }

  .SigninButton_icon {
    left: 16px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .Login_dontHaveAcc {
    font-size: 1.4rem;
    line-height: 1.8;
    margin-bottom: 0;
    padding: 24px 16px 0;

    button {
      text-transform: initial;
      color: #f05123;
      font-weight: 600;
      font-size: 1.5rem;
    }
  }

  .Login_about {
    line-height: 1.8;
    margin-top: 12px;

    a,
    span {
      color: #fff;
      font-size: 1.4rem;
    }
    span {
      margin: 0 8px;
    }
  }
}

.btnGoogleLogin {
  margin-top: 14px !important;
  --height: 44px !important;
  background-color: #fff !important;
  border: 2px solid #dce0e3 !important;
  border-radius: 44px !important;
  // display: inline-block !important;
  height: var(--height) !important;
  line-height: var(--height) !important;
  padding-left: 16px !important;
  position: relative !important;
  text-align: center !important;
  width: 320px !important;
  // display: none !important;
  div {
    margin-right: 25px !important;
    background: transparent !important;
    padding: 5px 0 0 0 !important;
  }
  span {
    color: #35414c;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 600;
    padding-left: 10px;
    line-height: 40px;
    margin-right: 50px;
    outline: 0;
    text-align: center;
  }
}
