--root {
  --primary-color: #f05123;
  --black-color: #000;
  --white-color: #fff;
  --gray-color: #666;
  --text-color: #333;
  --plum-color: #b80257;
  --fb-color: #4080ff;
  --mail-color: #f47425;
  --invalid-color: #f33a58;
  --desc-color: #0000008a;
  --first-color: #1dbfaf;
  --second-color: #1dbfaf;
  --button-color: #1dbfaf;
  --button-image: linear-gradient(70.06deg, #2cccff -5%, #22dfbf 106%);
  --font-family: "Montserrat", Arial, Helvetica, sans-serif;
  --font-code: "Fira Code", monospace;
  --home-slideshow-left-space: 116px;
  --home-section-left-space: 160px;
}
