@use "../../assets/scss/" as *;
.classlist {
  display: grid;
  gap: 10px;
  margin-top: 1.5rem;
  margin-left: 11.5rem;
  grid-template-columns: repeat(3, 33.33%);
  @include tablet {
    grid-template-columns: repeat(2, 50%);
  }
  @include mobile {
    grid-template-columns: repeat(1, 100%);
  }
}

.card {
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  overflow: hidden;
  position: relative;
  text-align: left;
  cursor: pointer;
  max-width: 30rem;
  border-radius: 5px;
  border: 0.0625rem solid #dadce0;
  &__header {
    &__bg {
      position: relative;
      & > img {
        width: 100%;
        height: 100px;
      }
    }
    &__avatar {
      right: 15px;
      top: 60%;
      position: absolute;
      & > img {
        width: 100%;
        border-radius: 50%;
      }
    }
    &__name {
      width: 100%;
      justify-content: space-between;
      padding: 0 10px;
      position: absolute;
      align-items: center;
      top: 0;
      display: flex;
      & > h1 {
        font-size: 2rem;
        font-weight: 400;
        line-height: 2.75rem;
        color: #fff;
      }
      & > a:hover {
        text-decoration: underline;
      }
      &__icon {
        font-size: 24px !important;
        color: #fff !important;
      }
    }
    &__name-teacher {
      padding: 0 10px;
      position: absolute;
      top: 25%;
      & > a {
        color: #fff;
        font-size: 13px;
      }
      & > a:hover {
        text-decoration: underline;
      }
    }
  }
  &__content {
    position: relative;
    padding: 10px;
  }
  &__controls {
    &__btn {
      margin: 8px !important;
    }
  }
  &__footer {
    border-top: 0.0625rem solid #dadce0;
    line-height: 0;
    &__icon {
      padding: 10px 5px;
      text-align: right;
    }
  }
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}

.new-classSub {
  width: 80vw;
  position: absolute;
  top: -100%;
  left: 10%;
  padding: 8px 8px 8px 100px;
  height: 80vh;
  background: orange;
  color: black;
  z-index: 4;
  transition: all 2s;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 0px #333, 0px 2px 6px 2px #333;
}

.turnClassSub {
  top: 12%;
  transition: all 2s;
}
.add-title {
  margin-top: 10px !important;
  text-align: center;
  font-weight: 700 !important;
}
.add-form {
  margin-top: 20px;
  text-align: center;
}
.add-subform {
  display: flex;
  align-items: center;
  // justify-content: center;
  margin-bottom: 20px;
  label {
    text-align: left;
    font-size: 16px;
    flex-basis: 20%;
  }
  input,
  select {
    height: 20%;
    padding: 10px 20px;
    border-radius: 30px;
    border: 1px solid #ccc;
    outline: none;
    width: 80%;
    font-size: 16px;
  }
}
.add-action {
  button {
    margin-left: 10px;
    text-transform: unset;
    font-size: 20px;
    border-radius: $border-radius;
  }
}
.join-class {
  align-content: center;
  justify-content: space-between;
  display: flex;
  padding: 0 20px;
}
.join-icon {
  border: 1px solid #ccc !important;
}
.join-icon--add {
  font-size: 20px !important;
}
.joinclass {
  h1 {
    font-size: 2rem;
  }
}
