@use "../../assets/scss" as *;

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  border-bottom: 1px solid #ccc;
  &__left {
    flex-basis: 30%;
    & > img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }
  }
  &__right {
    flex-basis: 70%;
    &__top {
      display: flex;
      margin-bottom: 10px;
      & > button {
        margin-left: 20px;
        outline: none !important;
      }
    }
    &__center {
      margin-bottom: 10px;
      & > span {
        font-size: 1.5rem;
      }
    }
    &__bottom {
      margin-bottom: 10px;
      font-size: 1.5rem;
    }
  }
  &__updateinfor {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.updateprofile {
  height: 60vh;
  width: 600px;
  &__wrapper {
    display: flex;
    margin-bottom: 20px;
    & > span {
      flex-basis: 30%;
      margin: auto;
      font-size: 1.5rem;
      text-align: left;
    }
    & > div {
      flex-basis: 70%;
      & > input {
        width: 100%;
        outline: none;
        border: 1px solid #ccc;
        border-radius: 30px;
        padding: 10px 20px;
        font-size: 1.5rem;
      }
    }
  }
}
.add-form {
  padding: 20px;
}
.edit_profile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0008;
  z-index: 9;
  overflow: auto;
}
.edit_profile form {
  max-width: 450px;
  width: 100%;
  background: white;
  padding: 20px;
  border-radius: 5px;
  margin: 20px auto;
}
.edit_profile .info_avatar {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  margin: 15px auto;
  border: 1px solid #ddd;
  cursor: pointer;
}
.edit_profile .info_avatar img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.edit_profile .info_avatar span {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 50%;
  text-align: center;
  color: #fff;
  transition: 0.3s ease-in-out;
  background: rgba(14, 1, 1, 0.333);
}
.info_avatar--icon {
  font-size: 3rem;
}
.edit_profile .info_avatar:hover span {
  bottom: -15%;
}
.edit_profile .info_avatar #file_up {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
::-webkit-file-upload-button {
  cursor: pointer;
}
