@use "../../assets/scss/" as *;
.subject {
  padding: 0 60px 20px 0;
  &__title {
    text-align: center;
    font-size: 3rem !important;
    font-weight: 900 !important;
    margin: 20px 0 !important;
  }
  &__list {
    display: grid;
    gap: 10px;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    grid-template-columns: repeat(4, 25%);
    @include tablet {
      grid-template-columns: repeat(2, 50%);
    }
    @include mobile {
      grid-template-columns: repeat(1, 100%);
    }
  }
  &__item {
    padding: 20px;
    border: 1px solid #dadce0;
    border-radius: 5px;
    text-align: center;
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    & > a {
      color: $primary-color;
      font-size: 15px;
      padding: 10px;
      font-weight: 600;
      &:hover {
        text-decoration: underline;
      }
    }
    &__action {
      border-top: 2px solid #ccc;
      margin-top: 20px;
      padding-top: 20px;
      justify-content: space-between;
      display: flex;
    }
  }
}

.new-sub {
  width: 80vw;
  position: absolute;
  top: -100%;
  padding: 8px;
  left: 10%;
  height: 80vh;
  background: orange;
  color: black;
  z-index: 4;
  transition: all 2s;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 0px #333, 0px 2px 6px 2px #333;
}

.turn {
  top: 12%;
  transition: all 2s;
}
.add-title {
  margin-top: 10px !important;
  text-align: center;
  font-weight: 700 !important;
}
.add-form {
  margin-top: 20px;
  text-align: center;
}
.add-subform {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  label {
    text-align: left;
    font-size: 16px;
    flex-basis: 20%;
  }
  input {
    height: 20%;
    padding: 10px 20px;
    border-radius: $border-radius;
    border: 1px solid #ccc;
    outline: none;
    width: 60%;
    font-size: 16px;
  }
}
.add-action {
  button {
    margin-left: 10px;
    text-transform: unset;
    font-size: 20px;
    border-radius: $border-radius;
  }
}
