:root {
  --GrayColor: #3a3b3c;
  --BlackColor: #242526;
  --MessColor: #606060;
  --WhiteColor: #fff;
}
.chat_container {
  // overflow: hidden;
  color: var(--WhiteColor);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: var(--BlackColor);
  display: flex;
  flex-direction: row;
  .chat_user {
    width: 20%;
    padding: 8px;
    // border: 0.5px solid var(--WhiteColor);
    .chat_action {
      width: 100%;
      display: inline-flex;
      justify-content: space-between;
      flex-direction: row;
      .chat_action__title {
        img {
          width: 38px;
          height: 38px;
        }
      }

      .chat_action__icon {
        align-items: center;
        justify-content: center;
        display: flex;
        .btnChatAction {
          margin: 0 4px;
          background: var(--GrayColor) !important;
          border-radius: 50px !important;
          .icon_action {
            color: var(--WhiteColor) !important;
          }
        }
      }
    }

    .chat_search {
      background: var(--GrayColor);
      border-radius: 50px;
      .btnSearch {
        color: var(--WhiteColor) !important;
      }
    }

    .chat_listUser {
      margin-top: 8px;
      height: 89vh;
      overflow: scroll;
      overflow-x: hidden;
      .chat_listUser__item {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin: 8px 0;
        transition: all 0.5s;
        padding: 6px;
        border-radius: 10px;
        &:hover {
          background: var(--GrayColor);
          // opacity: 0.5;
          transition: all 0.5s;
        }
        img {
          width: 40px;
          height: 40px;
          border-radius: 50px;
        }

        .chat_person__info {
          margin: 0 8px;
        }

        p,
        h3 {
          margin: 0px;
        }
      }
    }
  }

  .chat_content {
    width: 80%;
    padding: 8px;
    // background: red;
    // border: 0.5px solid var(--WhiteColor);

    .chat_content__tittle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid black;
      margin: 6px 0;
      padding: 0 0 9px 0;
      .user_info {
        align-items: center;
        display: flex;

        img {
          width: 40px;
          height: 40px;
          border-radius: 50px;
          margin: 0 8px;
        }
        .user_name {
          h1,
          p {
            margin: 0;
          }
        }
      }
      .user_action {
      }
    }

    .chat_content__message {
      height: 85%;
      overflow: scroll;
      overflow-x: hidden;
      .message {
        flex: 0 0 100%;
        display: block;
        width: 100%;
        height: auto;
        padding: 0 40px 0px 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
      .message span {
        text-align: left;
        display: inline-block;
        background: #f1f0f0;
        color: #000;
        margin: 1px 12px;
        padding: 6px 12px;
        border-radius: 4px 20.8px 20.8px 4px;
        border-radius: 20.8px;
        max-width: calc(100wh - 80px);
      }
      .message.me {
        text-align: right;
        padding: 0 0 0 40px;
      }
      .message.me span {
        color: #fff;
        /* The great trick is in these lines. */
        background-image: linear-gradient(180deg, #ee9ae5 10%, #5961f9 100%);
        background-size: cover;
        background-attachment: fixed;
        /*   you can also use images. Try to uncomment this line: */
        /*    background-image: url('https://i.pinimg.com/originals/db/b9/32/dbb932daf7e82c07cceff15742b1e196.jpg'); color: #000; */
      }
    }
    .chat_content__input {
      // background: var(--GrayColor);

      .inputChat {
        color: var(--WhiteColor) !important;
        margin: 12px !important;
        flex: 1;
        width: 85%;
        background: #3a3b3c !important;
        padding: 4px 4px 4px 8px !important;
        border-radius: 50px;
      }
    }
  }
}

@media only screen and (min-width: 740px) and (max-width: 1024px) {
  .chat_container .chat_user {
    width: 30%;
  }

  .css-yz9k0d-MuiInputBase-input {
    width: 60% !important;
  }
}
@media only screen and (max-width: 740px) {
}
