* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

.d-flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}
.line {
  width: 100%;
  height: 1px;
  background: orange;
}
.NavBar_wrapper {
  --height: 66px;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #e8ebed;
  display: flex;
  font-size: 1.4rem;
  height: var(--height);
  left: 0;
  padding: 0 28px;
  position: -webkit-sticky;
  position: sticky;
  right: 0;
  top: 0;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  will-change: transform;
  z-index: 20;
  .NavBar_actions,
  .NavBar_body,
  .NavBar_logo {
    flex: 1 1;
  }
  .NavBar_logo {
    align-items: center;
    display: flex;
    img {
      border-radius: 6px;
      flex-shrink: 0;
      height: 38px;
      object-fit: contain;
      width: 38px;
      transition: all 2s;

      &:hover {
        transform: rotate(360deg);
        transition: all 2s;
      }
    }
    h4 {
      color: #000;
      font-size: 1.4rem;
      font-weight: 700;
      margin-left: 16px;
    }
    a {
      display: flex;
      -webkit-tap-highlight-color: transparent;
      text-decoration: none;
    }
  }

  .NavBar_body {
    .Search_wrapper {
      border: 2px solid #e8e8e8;
      border-radius: 20px;
      flex: 1 1;
      height: 40px;
      position: relative;
      padding: 0 16px 0 8px;
      transition: border-color 0.2s ease-in-out;
      width: 420px;
      &:focus-within {
        border: 2px solid #ed8954;
      }
    }

    .Search_searchIcon {
      background-color: #fff;
      background-image: url(../../assets/img/button/search.svg);
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: 18px;
      border-radius: 50%;
      height: 32px;
      opacity: 0.7;
      transition: all 2s;

      width: 30px;
      &:hover {
        opacity: 1;
        transform: rotate(360deg);
        transition: all 2s;
      }
    }

    .Search_input {
      border: none;
      caret-color: #444;
      flex: 1 1;
      height: 100%;
      outline: none;
      padding: 0 4px;
    }
  }

  .NavBar_actions {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    .NavBar_loginBtn {
      background-color: #f05123;
      border-radius: 999px;
      color: #fff;
      cursor: pointer;
      font-size: 1.4rem;
      font-weight: 600;
      padding: 9px 20px;
    }
  }
}

.notificationIcon,
.messageIcon {
  margin: 0 8px;
  cursor: pointer;
  width: 28px;
  height: 28px;
  color: #707070;
  font-size: 1.8rem;
  transition: all 0.4s;

  &:hover {
    padding: 4px;
    border-radius: 100px;
    transition: all 0.4s;
  }
}

#navbar-actions-portal {
  margin: 0 0 0 8px;
  display: inline-flex;
}

.avatarIconHeader {
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  margin-left: 8px;
  margin-right: 8px;
  object-fit: cover;
  transition: all 2s;
  width: 28px;
  &:hover {
    // width: 32px;
    // height: 32px;
    transition: all 2s;
    transform: rotate(360deg);
  }
}

.moreOption {
  background: #fff;
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0px #ed8954, 0px 2px 6px 2px #ed8954;
  position: absolute;
  top: 50px;
  right: 30px;
  // width: 100%;
  padding: 8px;
  img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 8px 0 0 0;
  }
  h2 {
    margin: 16px 0 0 0;
  }
  p {
    margin: 2px 0 16px 0;
  }
}
.btnOut {
  background: orange !important;
  font-size: 1.5rem !important;
  text-transform: initial !important;
}

.searchResult {
  background: #fff;
  width: 95%;
  // display: flex;
  // // justify-content: center;
  // align-items: center;
  // flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  box-shadow: 0px 1px 2px 0px #ed8954, 0px 2px 6px 2px #ed8954;
  position: absolute;
  top: 44px;
  left: 10px;
  // width: 100%;
  padding: 8px;
}

@media only screen and (min-width: 740px) and (max-width: 1024px) {
  .NavBar_wrapper .NavBar_body .Search_wrapper {
    width: 300px;
  }
}
@media only screen and (max-width: 740px) {
  .NavBar_wrapper .NavBar_logo h4 {
    display: none;
  }

  .NavBar_wrapper .NavBar_body .Search_wrapper {
    width: 200px;
    margin: 0 12px;
  }

  .NavBar_wrapper .NavBar_body .Search_input {
    font-size: 9px;
  }

  .moreOption {
    right: -80px;
  }
}
