*,
::after,
::before {
  box-sizing: inherit;
}

.active {
  background-color: #e8ebed !important;
  color: #1a1a1a;
  border-radius: 16px;
}

.App_withSidebar {
  font-size: 62.5%;

  transition: all 0.5s;
  position: absolute;
  display: flex;
  min-height: 100vh;
  height: 100vh;
  top: 100%;

  left: -100%;
  .App_sidebarWrap {
    flex-shrink: 0;
  }

  .Sidebar_wrapper {
    background: #fff;
    opacity: 0.9;
    // background-color: red;
    --width: 96px;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    // left: 0;
    padding: 0 8px;
    position: -webkit-sticky;
    position: sticky;
    top: 74px;
    width: var(--width);
    // z-index: 8;

    .CreateButton_wrapper {
      align-items: center;
      background-color: #f16e34;
      border-color: #f16e34;
      border-radius: 50%;
      color: #fff;
      cursor: pointer;
      display: flex;
      height: 44px;
      justify-content: center;
      margin: 8px 0 2px;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      width: 44px;

      &:hover .iconAdd {
        font-size: 3rem;
        transition: all 0.3s;
      }

      .iconAdd {
        font-size: 2rem;
        transition: all 0.3s;
      }
    }
  }
  .Sidebar_list {
    padding-left: 0;
    li {
      margin-left: 4px;
    }
    .CSList {
      height: 35rem;
      overflow: scroll;
      overflow-x: hidden;
    }
  }
  .Sidebar_a {
    align-items: center;
    border-radius: 16px;
    color: #404040;
    display: flex;
    flex-direction: column;
    height: 72px;
    justify-content: center;
    margin-top: 4px;
    width: 72px;

    &:hover {
      background-color: #f5f5f5;
      color: #1a1a1a;
    }

    .Sidebar_icon {
      font-size: 2.2rem;
      margin: 0 0 4px 0;
      color: #000;
    }

    span {
      text-align: center;
      color: #000;
      font-weight: 600;
    }
  }

  .App_withSidebarContent {
  }
}
.App_withSidebar.focus {
  top: 100%;
  left: 0;
}
