@use "../../../assets/scss" as *;

.request-change-group {
  h3 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  span {
    display: block;
    font-size: 1.2rem;
    line-height: 1;
    padding: 5px 0;
  }
}
.request-change-group-btn {
  text-align: right;
  button {
    text-transform: initial;
    font-weight: 600 !important;
    font-size: 1.2rem !important;
  }
}

.requestGroup {
  padding: 8px !important;
  cursor: pointer;
  margin: 4px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 3px;
  transition: all 1s;
}
.requestGroup:hover {
  opacity: 0.75;
  transition: all 1s;
}

.detail_RequestGr {
  width: 30vw;
  position: absolute;
  top: -100%;
  left: 35vw;
  padding: 16px 8px 8px 20px;
  background: orange;
  color: black;
  z-index: 4;
  transition: all 2s;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 0px #333, 0px 2px 6px 2px #333;
}

.turnRequestGr {
  top: 30%;
  transition: all 2s;
}

.status_yes {
  background: rgb(98, 170, 98);
  color: white;
}

.status_no {
  background: rgb(213, 46, 46);
  color: white;
}
