@use "../../assets/scss/" as *;
.container {
  padding: 0 120px;
  @include tablet {
    padding: 0 40px;
  }
  @include mobile {
    padding: 0 20px;
  }
  &__left {
    @include mobile {
      display: none;
    }
  }
  .css-1qpzhgb-MuiGrid-root {
    @include mobile {
      max-width: 100% !important;
      flex-basis: 100% !important;
    }
  }
}
.ClassDetailCard {
  position: relative;
  margin-top: 20px;
  &__img {
    width: 100%;
    height: 240px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
  }
  &__content {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    h2 {
      padding: 0 20px 10px 20px;
      color: $txt-color;
      font-size: 3rem;
      font-weight: 600;
    }
    & > button {
      padding: 8px 16px;
      bottom: 5px;
    }
    &__icon {
      font-size: 2rem !important;
    }
  }

  @include mobile {
    &__img {
      height: 140px;
    }
    h2 {
      padding: 0 10px 5px 10px;
      font-size: 1.5rem;
      font-weight: 600;
    }
  }
}
.class-dealine {
  h3 {
    font-size: 1.5rem;
  }
  span {
    display: block;
    color: rgba(0, 0, 0, 0.549);
    font-size: 12px;
    margin-bottom: 10px;
  }
}
.class-btn {
  text-align: right;
  & > button {
    color: $primary-color;
    font-size: 13px;
    font-weight: 600;
    line-height: 2;
    text-transform: initial;
  }
  @include tablet {
    & > button {
      font-size: 10px;
    }
  }
}
.post {
  cursor: pointer;
  display: flex;
  padding: 10px;

  & > img {
    width: 40px;
    border-radius: 50%;
  }
  & > a {
    margin: auto 10px;
    color: rgba(0, 0, 0, 0.549);
    font-size: 1.5rem;
    &:hover {
      color: $primary-color;
    }
  }
}
.ckeditor {
  margin-top: 20px;
  &__action {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__left {
      & > button {
        margin-left: 4px;
      }
      &__icon {
        color: $primary-color;
        font-size: 2rem;
      }
    }
    &__right {
      & > button {
        margin-left: 4px;
      }
    }
  }
}
.ck {
  height: 100px;
  & > p,
  & > h1 {
    font-size: 1.5rem;
  }
  & > h2 {
    font-size: 1.3rem;
  }
}
.post-assignment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 10px;
  &:hover {
    background-color: rgb(203, 228, 252);
  }
  &__left {
    display: flex;
    align-items: center;
    &__note {
      padding: 8px 12px;
      border-radius: 50%;
      border: 1px solid $primary-color;
      background-color: $primary-color;
      &--icon {
        font-size: 1.5rem;
        color: $white;
        margin-top: 4px;
      }
    }
    &__content {
      margin-left: 10px;
      & > a {
        font-size: 1.5rem;
        display: block;
        color: $black;
        font-weight: 600;
      }
      & > span {
        font-size: 1.2rem;
        color: $black;
      }
    }
  }
  &__right {
    &__icon {
      font-size: 2.4rem;
      color: rgb(165, 164, 164);
    }
  }
}
.post-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 10px;
  &__left {
    display: flex;
    align-items: center;
    &__img {
      & > img {
        width: 40px;
        border-radius: 50%;
      }
    }
    &__content {
      margin-left: 10px;
      & > h3 {
        font-size: 1.3rem;
        color: $black;
        margin: 0;
        font-weight: 600;
      }
      & > span {
        font-size: 1.2rem;
        color: $black;
      }
    }
  }
  &__right {
    &__icon {
      font-size: 2.4rem;
      color: rgb(165, 164, 164);
    }
  }
}
.render-post {
  padding: 0 24px;
  & > span {
    margin-bottom: 10px;
    font-size: 1.5rem;
  }
  margin-bottom: 20px;
}
.comment-post {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  display: flex;
  align-items: center;
  border-top: 1px solid #ccc;
  &__avatar {
    flex-basis: 10%;
    & > img {
      width: 40px;
      border-radius: 50%;
    }
  }
  &__box-input {
    flex: 1;
    & > form {
      display: flex;
      position: relative;
      margin-left: 5px;
      & > input {
        width: 100%;
        height: 40px;
        border-radius: $border-radius;
        padding: 6px 15px;
        border: 1px solid #ccc;
        outline: none;
        font-size: 1.4rem;
      }
      & > button {
        position: absolute;
        right: 14px;
        top: 3px;
        padding: 8px;
        border: none;
        background-color: #fff;
        cursor: pointer;
      }
    }
    &__icon {
      font-size: 1.5rem;
      color: #ccc;
    }
  }
}
.css-heg063-MuiTabs-flexContainer {
  justify-content: center;
}
.list-member {
  padding: 20px 100px;
  @include mobile {
    padding: 0;
  }
}
.teacher {
  margin-bottom: 20px;
  h1 {
    color: #202124;
    font-size: 3rem;
    font-weight: 400;
    line-height: 2.5rem;
    padding: 20px;
    border-bottom: 1px solid #5f6368;
    margin: 0;
  }
  &__content {
    display: flex;
    align-items: center;
    padding: 20px;
    img {
      width: 40px;
      border-radius: 50%;
    }
    span {
      font-size: 1.5rem;
      margin-left: 1rem;
    }
  }
}
.member {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    border-bottom: 1px solid #5f6368;
    h2 {
      color: #202124;
      font-size: 3rem;
      font-weight: 400;
      line-height: 2.5rem;
      padding: 20px;
      margin: 0;
    }
    span {
      color: #202124;
      font-size: 2rem;
      font-weight: 400;
      line-height: 2.5rem;
    }
  }
  &__content {
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e6e9ec;
    img {
      width: 40px;
      border-radius: 50%;
    }
    span {
      font-size: 1.5rem;
      margin-left: 1rem;
    }
  }
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  font-size: 15px !important;
  text-transform: initial !important;
  font-weight: 600 !important;
}

.list-group {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      text-align: center;
      margin: 0;
      font-size: 3rem;
      @include mobile {
        font-size: 2rem;
      }
    }
    &__icon {
      border: 1px solid #ccc !important;
      &--add {
        font-size: 20px !important;
      }
    }
  }
  &__content {
    display: grid;
    gap: 10px;
    margin-top: 1.5rem;
    grid-template-columns: repeat(4, 25%);
    @include tablet {
      grid-template-columns: repeat(2, 50%);
    }
    @include mobile {
      grid-template-columns: repeat(1, 100%);
    }
  }
}
.group {
  cursor: pointer;
  &:hover {
    transition: all 0.5s ease-out;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  padding: 20px;
  border: 1px solid #e6eaef;
  border-radius: 35px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
      font-size: 1.5rem;
      margin: 0;
    }
    &__icon {
      font-size: 20px;
    }
  }
  &__people {
    font-size: 1.5rem;
    padding: 10px 0;
  }
  &__avatar {
    display: flex;
    flex-wrap: wrap;
    & > img {
      width: 40px;
      border-radius: 50%;
      margin-right: 8px;
      margin-bottom: 10px;
    }
  }
}
.modal-addgroup {
  justify-content: flex-start;
}
.modal-title {
  font-size: 3rem !important;
  text-align: center;
  font-weight: 600 !important;
}

.activeGroup {
  background: #ed8954;
  color: #fff;
}

.detailMemberOfGroup {
  width: 80vw;
  position: absolute;
  top: -100%;
  left: 10%;
  padding: 8px;
  height: 80vh;
  // background: orange;

  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: black;
  z-index: 4;
  transition: all 2s;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 0px #333, 0px 2px 6px 2px #333;
  .btnClose {
    position: absolute;
    top: 0;
    right: 0;
  }
  .group__detail {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    border-right: 2px solid black;
    img {
      width: 50%;
    }
    h1 {
      margin: 8px 0 4px 0;
    }
    p {
      margin: 0 0 16px 0;
    }
  }

  .group__members {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // flex-direction: column;
    margin-left: 10%;
    width: 50%;
    h1 {
      text-decoration: underline;
    }
    .item-member {
      display: flex;
      margin: 8px 0 0 0;
      h2 {
        margin: 16px 4px;
      }
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 0 8px 0 0;
      }
    }
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.turnDetail {
  top: 12%;
  transition: all 2s;
}

.Leader {
  color: #ed8954;
  font-weight: 600;
}

.new-Student {
  width: 60vw;
  position: absolute;
  top: -100%;
  left: 20vw;
  padding: 8px 8px 8px 100px;
  height: 40vh;
  background: orange;
  color: black;
  z-index: 4;
  transition: all 2s;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 0px #333, 0px 2px 6px 2px #333;
}

.turnStudent {
  top: 48%;
  transition: all 2s;
}

.inputPost,
.inputUpdate {
  margin-top: 10px;
  // margin-left: 50px;
  margin-bottom: 12px;
  width: 100%;
  height: 100px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
  border-color: -moz-use-text-color #ffffff #ffffff -moz-use-text-color;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(46, 64, 206, 0.12) inset;
  color: #555555;
  font-size: 2em;
  line-height: 1.4em;
  padding: 5px 16px;
  transition: background-color 0.2s ease 0s;
}

.inputPost:focus,
.inputUpdate:focus {
  background: none repeat scroll 0 0 #ffffff;
  outline-width: 0;
}

// COMMENT

.comment_input .dropdown-menu {
  transform: translate3d(-120px, -200px, 0px) !important;
}

/* ---------- Comments ---------- */
.comment_display {
  padding: 10px 25px;
}
.comment_card .comment_content {
  background: #eee;
  padding: 7px;
  border-radius: 10px;
  border-top-left-radius: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.comment_card .comment_content .readMore {
  cursor: pointer;
  color: crimson;
}

// .comment_card .comment_content .nav-item {
//   cursor: pointer;
//   opacity: 0;
// }
// .comment_card .comment_content:hover .nav-item {
//   opacity: 1;
// }
// .comment_card .comment_content .dropdown-menu {
//   position: absolute;
//   right: 0;
//   left: inherit;
// }
// .comment_card .comment_content .dropdown-item {
//   display: flex;
//   margin: 10px 0;
// }
// .comment_card .comment_content textarea {
//   width: 100%;
//   border: none;
//   outline: none;
// }
