body {
  margin: 0;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 1s;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

code {
  font-family: "Fira Code", monospace;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
/* width */
::-webkit-scrollbar {
  cursor: pointer;
  border-radius: 30px;
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 30px;
  cursor: pointer;
  background: #606060;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 30px;
  cursor: pointer;

  background: rgb(0, 0, 0);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  /* display: block; */

  border-radius: 30px;
  /* background: #555; */
}
